html {
    background-color: #000000;
}

.kuai {
    background-color: #121212;
}

/* 删掉router-link */
.router-link-active {
    text-decoration: none;
}

a {
    text-decoration: none;
}
.el-message{
    background-color: #000000;
    border: 1px solid #4b4b4b;
    
}
.el-message p span{
    color: #dfdfdf;
}

