html {
    background-color: #000000;
}

.kuai {
    background-color: #121212;
}

/* 删掉router-link */
.router-link-active {
    text-decoration: none; 
}
.router-link:link {
	color:aliceblue;
}
.router-link:visited {
	color:aliceblue;
}
.router-link:hover {
	color:aliceblue;
}
a {
    text-decoration: none;
}
.el-message{
    background-color: #000000;
    border: 1px solid #4b4b4b;
    
}
.el-message p span{
    color: #dfdfdf;
}

